.title {    
    padding-left: 16px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.5px;   
}

.content {
    padding-left: 16px;
    color: #636569;
    font-size: 16px;   
    font-weight: 400;
    line-height: 24px;  
}

.loading {
    padding-top: 16px;
    padding-left: 16px;  
}
