.tracks {   
    padding: 16px; 
    min-height: 100vh;
}

.heading {
    margin: 0;
    padding-bottom: 49.96px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.5px;
}

.paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #636569;
    max-width: 720px;
}
