.nav {
    height: 96px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.nav_item {
    border-right: 1px solid #313335;
    height: 96px;
}
