.nav {
    height: 96px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.nav_item {
    border-right: 1px solid #313335;
    height: 96px;
}

.footer {
    height: 96px;
    background-color: black;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #96989C;
 
}
