.footer {
    display: flex;
    align-items: flex-end;
    padding-left: 16px;
    padding-bottom: 16px;
    height: 96px;
    background-color: black;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #96989C;
}
