.link {
    text-decoration: none;
    transition: 0.2s;
    color: black
}

.link:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.651)
}

.policies {
    border-bottom: 1px solid #D8D9DA;
    height: 96px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.5px;
    padding: 16px   
}
