.nav {
    display: flex;
    height: 96px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.main {
    border-right: 1px solid #313335;
    height: 96px;
    flex-basis: 16.66666667%;
    padding: 16px
}

.legal {
    border-right: 1px solid #313335;
    height: 96px;
    flex-basis: 75%;
    padding: 16px
}

.logo {
    flex-basis: 8.33333333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;    
    color: white;
    transition: 0.2s;
}

.link:hover {
    color: #96989C;
}

@media (max-width: 600px) {
    .main {        
        flex-basis: 50%;
    }
    
    .legal {        
        flex-basis: 25%;
    }
    
    .logo {
        flex-basis: 25%;        
    }  
  }
